* {
  margin: 0;
  box-sizing: border-box;
}

#contactsHeader {
  background-image: url('https://images.unsplash.com/photo-1520531158340-44015069e78e');
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contactInfo>div:first-child {
  background-color: black;
  color: white;
}

#contactInfo>div {
  padding: 30px 100px;
  flex: 1;
}

#contactInfo h2 {
  font-weight: 400;
  padding: 15px 0;
}

#contactInfo>div>p {
  padding-bottom: 30px;
}

.contacts {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.contacts h3,
.contacts i {
  color: #c19b77;
}

.contacts h3 {
  font-weight: 400;
}

.contacts>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contactsForm>form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#contactsForm input:not(input[type='submit']),
#contactsForm textarea {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

#contactsForm textarea {
  height: 70px;
}

#contactsForm input[type='submit'] {
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 20px;
}

@media (min-width: 768px) {
  #contactInfo {
    flex-direction: row;
  }
}