@import url('./main.css');
@import url('./modal.css');

body{
  position: relative;
  margin: 0;
}

.modalai {
  width: 100%;
  height: auto;
  background-color: rgb(41, 41, 41);
  padding: 5px;
  margin: 5px;
}
.modalai > img {
  width: 100%;
  height: 100%;
}

#modalai{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Schibsted Grotesk', sans-serif;
  background-color: dimgray;

}
.visaInfo{
  color: white;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .modalai {
    width: 45%;
    height: auto;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    margin: 20px;
  }
}